body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 95, 115);
    margin: 0 auto;
    overflow-y: scroll;
    background:linear-gradient(to left,rgb(224, 164, 204),rgb(253, 240, 218));
    font-size: 17px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: rgb(255, 255, 255);
}

header nav {
    padding-left: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 80px;
}

header nav ul li {
    margin-left: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: palevioletred;
    font-weight: 400;
    font-size: 1.15rem;
}

button {
    background-color: palevioletred;
    padding: 15px;
    margin: 0;
    border: 0;
    color: white;
    font-size: 15px;
}

form {
    text-align: center;
}

h1 {
    text-align: center;
}

input {
    width: 250px;
    height: 25px;
    
}


